.head-item {
    margin-right: 40px;
  }
  
  #first-head-item {
    margin-left: 70px;
  }
 
#hi {
    font-size: 72px;
    font-weight: 700;
}

#about-p {
    font-size: 36px;
    width: 90%;
}

#about-div {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  /*margin-left: 10%;*/
  margin: auto;
}

@media (max-width: 800px) {
  #about-div {
    
    width: 80%;
    margin-top: -30px;
    min-height: calc(100vh - 60px); 
  }
  #hi {
    font-size: 9vw;
  }
  #about-p {
    font-size: 4.5vw;
    width: 90%;
  }
  #first-head-item {
    margin-left: 0;
  }
  .head-item {
    margin-right: 0;
  }
  #second-head-item{
    margin-left: -150px;
    margin-right: -150px;
  }
}

/*@media (max-width: 400px) {
  #about-div {
    margin-top: -40px;
  }
} */

@media (max-height: 500px), (max-width: 400px) {
  #about-div {
      margin-top: 20px;
      height: auto;
      min-height: 0;
      display: block;
      
  }
}

/* 
  -clean up comments and code in my codepen so it looks better when people look at it
  -mark approx project date (check codepen upload date?)  
  -add more to descriptions (look up how to do it?)
  -add sections and html5 elements
*/