#contact {
    width: 75%;
    /*margin-left: 10%;*/
    margin: auto;
    margin-top: 90px;
    font-size: 24px;
}

#contact-header {
    margin-top: 20px;
}

#contact-1 {
    /*background-color: #E5E5E5;*/
    display: inline-block;
    margin-bottom: 90px;
    
}

@media (max-width: 800px) {
    #contact {
        font-size: 3vw;
        width: 80%;
    }
}