#projects {
   /* margin-top: 20vh; */
    /*margin-left: 10%;*/
    width: 75%;
    margin: auto;
   
}

#projects-header {
    margin-top: 20px;
    margin-bottom: 0;
}

#projects-subheading {
    font-size: 16px;
    margin-top: 10px;
}

#projects-content {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    /* align-items: center; */
    width: 75vw;
}

.project-rect {
    height: 500px;
    width: 100%;
    background-color: #E5E5E5;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.project-desc {
    width: 30%;
    min-height: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 20px;
    
}

.desc-text {
    font-size: 18px;
}

#proj-1-img {
    width: 100%;
    margin: auto;
}

.project-img-div {
    width: 50%;
    text-align: center;
}

.projects-link {
    color: gray;
}

@media (max-width: 800px) {
    #projects {
      
      width: 80%;
     
    }
    
}

@media (max-width: 950px) {
    .project-rect {
        flex-direction: column;
        height: auto;
      
    }
    .project-desc {
        height: auto;
        min-height: 0;
        width: 70%;
        margin: 20px 0 20px 0;
        
    }
    .project-img-div {
        margin-top: 20px;
        width: 90%;
        text-align: center;
    }
}