#projects {
   /* margin-top: 20vh; */
    /*margin-left: 10%;*/
    width: 75%;
    margin: auto;
   
}

#projects-header {
    margin-top: 20px;
    margin-bottom: 0;
}

#projects-subheading {
    font-size: 16px;
    margin-top: 10px;
}

#projects-content {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    /* align-items: center; */
    width: 75vw;
}

.project-rect {
    height: 500px;
    width: 935px;
    width: 100%;
    background-color: #E5E5E5;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project-desc {
    width: 330px;
    height: 425px;
    background-color: #ffffff;
    
    
}

#proj-1-img {
    width: 50%;
    
}